
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
.container{width: 1200px; margin: 0 auto; position: relative;}
.one{width:80px;}
.two{width:180px;}
.three{width:280px;}
.four{width:380px;}
.five{width:480px;}
.six{width:580px;}
.seven{width:680px;}
.eight{width:780px;}
.nine{width:880px;}
.ten{width:980px;}
.eleven{width:1080px;}
.twelve{width:1180px;}
.one-third{width: 380px}
.two-third{width: 780px}
.one-half{width: 580px;}
/* General */
.column{float: left; position: relative;margin: 5px 10px;}
.clear{clear: both}
.w100{width: 100%}
.demo-back{background: #e5e5e5; text-align: center; padding: 5px 0}
@media only screen and (min-width: 961px) and (max-width: 1200px) {
	.container{width: 960px; margin: 0 auto; position: relative;}
	.one{width:60px;}
	.two{width:140px;}
	.three{width:220px;}
	.four{width:300px;}
	.five{width:380px;}
	.six{width:460px;}
	.seven{width:540px;}
	.eight{width:620px;}
	.nine{width:700px;}
	.ten{width:780px;}
	.eleven{width:860px;}
	.twelve{width:940px;}	
	.one-third{width: 300px}
	.two-third{width: 620px}
}
@media only screen and (min-width: 769px) and (max-width: 960px) {
	.container{width: 768px; margin: 0 auto; position: relative;}
	.one{width:44px;}
	.two{width:108px;}
	.three{width:172px;}
	.four{width:236px;}
	.five{width:300px;}
	.six{width:364px;}
	.seven{width:428px;}
	.eight{width:492px;}
	.nine{width:556px;}
	.ten{width:620px;}
	.eleven{width:684px;}
	.twelve{width:748px;}	
	.one-third{width: 236px}
	.two-third{width: 492px}
}
@media only screen and (min-width: 421px) and (max-width: 768px) {
	.container{width: 420px; margin: 0 auto; position: relative;}
	.one{width:420px;}
	.two{width:420px;}
	.three{width:420px;}
	.four{width:420px;}
	.five{width:420px;}
	.six{width:420px;}
	.seven{width:420px;}
	.eight{width:420px;}
	.nine{width:420px;}
	.ten{width:420px;}
	.eleven{width:420px;}
	.twelve{width:420px;}	
	.one-third{width: 420px}
	.two-third{width: 420px}
	.one-half{width: 420px}
}
@media only screen and (max-width: 420px) {
	.container{width: 300px; margin: 0 auto; position: relative;}
	.one{width:300px;}
	.two{width:300px;}
	.three{width:300px;}
	.four{width:300px;}
	.five{width:300px;}
	.six{width:300px;}
	.seven{width:300px;}
	.eight{width:300px;}
	.nine{width:300px;}
	.ten{width:300px;}
	.eleven{width:300px;}
	.twelve{width:300px;}	
	.one-third{width: 300px}
	.two-third{width: 300px}
	.column{margin: 10px 0}
}